
*,*::before,*::after{box-sizing:border-box;}

ul{margin-top:0;margin-bottom:1rem;}
a{text-decoration:none;color:#5e72e4;background-color:transparent;}
a:hover{text-decoration:none;color:#233dd2;}
img{vertical-align:middle;border-style:none;}
.container-fluid{width:100%;margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px;}
.collapse:not(.show){display:none;}
.dropdown{position:relative;}
.dropdown-menu{font-size:1rem;position:absolute;z-index:1000;top:100%;left:0;display:none;float:left;min-width:10rem;margin:.125rem 0 0;padding:.5rem 0;list-style:none;text-align:left;color:#525f7f;border:0 solid rgba(0, 0, 0, .15);border-radius:.4375rem;background-color:#fff;background-clip:padding-box;box-shadow:0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);}
.dropdown-menu-right{right:0;left:auto;}
.dropdown-item{font-weight:400;display:block;clear:both;width:100%;padding:.5rem 1rem;text-align:inherit;white-space:nowrap;color:#212529;border:0;background-color:transparent;}
.dropdown-item:hover,.dropdown-item:focus{text-decoration:none;color:#16181b;background-color:#f6f9fc;}
.dropdown-item:active{text-decoration:none;color:#16181b;background-color:transparent;}
.dropdown-item:disabled{pointer-events:none;color:#8898aa;background-color:transparent;}
.nav-link{display:block;padding:.25rem .75rem;}
.nav-link:hover,.nav-link:focus{text-decoration:none;}
.navbar{position:relative;display:flex;padding:1rem 1rem;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.navbar .container-fluid{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.navbar-nav{display:flex;flex-direction:column;margin-bottom:0;padding-left:0;list-style:none;}
.navbar-nav .nav-link{padding-right:0;padding-left:0;}
.navbar-nav .dropdown-menu{position:static;float:none;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
.navbar-expand{flex-flow:row nowrap;justify-content:flex-start;}
.navbar-expand > .container-fluid{padding-right:0;padding-left:0;}
.navbar-expand .navbar-nav{flex-direction:row;}
.navbar-expand .navbar-nav .dropdown-menu{position:absolute;}
.navbar-expand .navbar-nav .nav-link{padding-right:1rem;padding-left:1rem;}
.navbar-expand > .container-fluid{flex-wrap:nowrap;}
.navbar-expand .navbar-collapse{display:flex!important;flex-basis:auto;}
.navbar-dark .navbar-nav .nav-link{color:rgba(255, 255, 255, .95);}
.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:focus{color:rgba(255, 255, 255, .65);}
.media{display:flex;align-items:flex-start;}
.bg-primary{background-color:#5e72e4!important;}
.border-bottom{border-bottom:1px solid #e9ecef!important;}
.rounded-circle,.avatar.rounded-circle img{border-radius:50%!important;}
@media (min-width: 1200px){
.d-xl-none{display:none!important;}
}
.align-items-center{align-items:center!important;}
.pr-0{padding-right:0!important;}
.pr-3{padding-right:1rem!important;}
.ml-auto{margin-left:auto!important;}
@media (min-width: 768px){
.ml-md-0{margin-left:0!important;}
.ml-md-auto{margin-left:auto!important;}
}
@media print{
*,*::before,*::after{box-shadow:none!important;text-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
.navbar{display:none;}
}
.avatar{font-size:1rem;display:inline-flex;width:48px;height:48px;color:#fff;border-radius:.375rem;background-color:#adb5bd;align-items:center;justify-content:center;}
.avatar img{width:100%;border-radius:.375rem;}
.avatar-sm{font-size:.875rem;width:36px;height:36px;}
.main-content .navbar-top{padding-right:0!important;padding-left:0!important;}
@media (min-width: 768px){
.main-content .container-fluid{padding-right:30px!important;padding-left:30px!important;}
}
.dropdown{display:inline-block;}
.dropdown-menu{min-width:12rem;}
.dropdown-menu .dropdown-item{font-size:.875rem;padding:.5rem 1rem;}
.sidenav-toggler-inner,.sidenav-toggler-line{width:18px;transition:all .15s ease;}
@media (prefers-reduced-motion: reduce){
.sidenav-toggler-inner,.sidenav-toggler-line{transition:none;}
}
.sidenav-toggler-inner{position:relative;}
.sidenav-toggler-inner:before{position:absolute;top:-14px;left:-11px;width:40px;height:40px;content:'';transition:all .15s cubic-bezier(.68, -.55, .265, 1.55);transform:scale(0);border-radius:50%;}
@media (prefers-reduced-motion: reduce){
.sidenav-toggler-inner:before{transition:none;}
}
.sidenav-toggler-line{position:relative;display:block;height:2px;background-color:#172b4d;}
.sidenav-toggler-line:not(:last-child){margin-bottom:3px;}
.sidenav-toggler-dark .sidenav-toggler-line{background-color:#fff;}
.sidenav-toggler{cursor:pointer;}
.sidenav-toggler.active .sidenav-toggler-inner:before{transform:scale(1);}
.sidenav-toggler.active .sidenav-toggler-line:first-child{width:13px;transform:translateX(5px);}
.sidenav-toggler.active .sidenav-toggler-line:last-child{width:13px;transform:translateX(5px);}
@media (max-width: 575.98px){
.navbar-top .navbar-nav{transition:all .15s ease;}
}
@media (max-width: 575.98px) and (prefers-reduced-motion: reduce){
.navbar-top .navbar-nav{transition:none;}
}
.navbar .dropdown-menu{margin:0;pointer-events:none;opacity:0;}
.navbar .dropdown-menu-right:before{right:20px;left:auto;}
.navbar-top{padding-right:1rem;padding-left:1rem;border:0;}
.navbar-top .container-fluid{padding-right:15px;padding-left:15px;}
@media (max-width: 575.98px){
.navbar-top .navbar-collapse{width:100%;}
.navbar-top .nav-item{position:static;}
.navbar-top .nav-item .dropdown-menu{position:absolute;right:auto;left:3%;width:94%;min-width:auto;}
}
.navbar-top.border-bottom.navbar-dark{border-color:rgba(255, 255, 255, .08)!important;}
.nav-link{color:#525f7f;}
.nav-link:hover{color:#5e72e4;}




body {
    font-family: "Open Sans";
    font-size: 22px;
  }